---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contacto - Fyve Studio">
  <main class="relative py-16 bg-gray-50 dark:bg-gray-900 overflow-hidden">
    <!-- Background decoration -->
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <!-- Main content -->
    <Container>
      <div class="relative z-10">
        <!-- Heading and description -->
        <div class="text-center mx-auto mb-12">
          <h1 class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Contacto</h1>
          <p class="mt-4 text-xl text-gray-600 dark:text-gray-300">
            ¿Tienes alguna pregunta o quieres hablar con nosotros sobre tu próximo proyecto? ¡Nos encantaría saber de ti!
          </p>
        </div>
        <!-- Contact form -->
        <div class="max-w-lg mx-auto">
          <ContactForm actionUrl="https://formspree.io/f/xjkbwage" />
        </div>
      </div>
    </Container>
  </main>
</Layout>
