
---
import HeroSection6 from '../components/HeroSection6.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="Fyve studio.">
	<main class="space-y-40 mb-40">
		<HeroSection6/>
		<CallToAction/>
		
	</main>
</Layout>