
---
import HeroSection7 from '../components/HeroSection7.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import Fotografiadeeventopricing from '../components/fotografiadeeventopricing.astro';
---

<Layout title="Fyve studio.">
	<main class="space-y-40 mb-40">
		<HeroSection7/>
		<Fotografiadeeventopricing/>
		<CallToAction/>
		
	</main>
</Layout>