---
import Container from "./Container.astro"
---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="text-center mx-auto lg:w-2/3">
                <h1 class="text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl">
                    Soluciones<span class="text-primary dark:text-white"> Multimedia y Creación Digital en Málaga</span>
                </h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">
                    Potenciamos tu marca en Málaga con servicios de fotografía y videografía, branding y diseño web. Mejora tu presencia online con Fyve Studio.
                </p>
                <div class="mt-12 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a href="https://wa.me/34641437667" class="relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:before:scale-95">
                        <span class="relative text-base font-semibold text-white dark:text-dark">Chatear en WhatsApp</span>
                    </a>
                    <a href="tel:+34641437667" class="relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800">
                        <span class="relative text-base font-semibold text-primary dark:text-white">Llamar ahora</span>
                    </a>
                    <a href="mailto:info@fyvestudio.pro" class="relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800">
                        <span class="relative text-base font-semibold text-primary dark:text-white">Enviar un correo</span>
                    </a>
                </div>
                <div class="hidden sm:flex py-8 mt-16 border-y border-gray-100 dark:border-gray-800 justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Precios asequibles</h6>
                        <p class="mt-2 text-gray-500">Ofrecemos servicios a precios competitivos.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Tiempo de espera corto</h6>
                        <p class="mt-2 text-gray-500">Entrega rápida y eficiente de nuestros servicios.</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Servicio de calidad</h6>
                        <p class="mt-2 text-gray-500">Nos comprometemos a ofrecer resultados excepcionales.</p>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
